<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container profile">
<div class="row">
    <div class="col-md-4">
        <div class="profile-image">
            <img [src]="git.avatar_url" class="img-fluid" alt="img">
        </div>
        <h4>{{ git.name }}</h4>
        <p class="username">{{ git.login }}</p>
        <h5>{{ git.bio }}</h5>
        <p>{{ git.followers }} <span>Followers</span> {{ git.following }} <span>Following</span></p>
        <hr>  
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ git.location }}</p> 
        <p> Joined {{ git.created_at }} ago</p> 
        <p> Updated {{ git.updated_at }}</p> 
    </div>

    <div class="col-md-8">
     <h4>Repositories</h4>
      
     <div class="container repos-container">
        <div class="row">
            <div class="col-md-5 m-1 repo-col" *ngFor="let repo of  repos">
                <h6>{{ repo.name }}</h6>
                <p><a href="GET {{ repo.homepage }}">View Site <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
                <p><i class="fa fa-dot-circle-o text-danger" aria-hidden="true"></i> {{ repo.language }}</p>  
               
            </div>
        </div>
     </div>
     
    </div>
</div>