@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer');
*
{
    font-family: Arial, Helvetica, sans-serif;
}
a
{
    text-decoration: none;
    color: rgb(207, 207, 207);
}
.profile .profile-image
{
     /* background-color: violet; */
     padding: 1em;
     text-align: center;
}
.profile .profile-image img
{
    width: 80%;
    height: auto;
    border-radius: 50%;
}
.profile .username
{
    color: rgb(160, 160, 160) !important;
}

p span{
    color: rgb(160, 160, 160);
    margin-right: 2em;
}
.repos-container
{
    max-height: 40em !important;
    overflow: scroll;
}
.repo-col
{
    padding: 1em;
    border: 1px solid rgb(109, 109, 109);
    border-radius: 0.3em;
}
.repo-col p a
{
    font-size: 12px;
}